<footer class="footer">
    <div class="container-fluid">
      <div class="row mt-md-5">
        <!-- Section 1: Ne rater rien ! -->
        <div class="col-md-4 p-5 text-white">
          <h1 class="footer-title">Ne rater rien !</h1>
          <p class="footer-text">
            Retrouvez Agrodream Solution TCM sur les réseaux sociaux pour suivre nos actualités, découvrir nos innovations et échanger avec notre communauté.
          </p>
          <div class="social-icons justify-content-between">
            <a href="#" class="social-icon"><img src="/assets/images/Vector.png" alt=""></a>
            <a href="#" class="social-icon"><img src="/assets/images/Vector (1).png" alt=""></a>
            <a href="#" class="social-icon"><img src="/assets/images/Vector (2).png" alt=""></a>
            <a href="#" class="social-icon"><img src="/assets/images/Vector (3).png" alt=""></a>
          </div>
        </div>
  
        <!-- Section 2: Formulaire de contact -->
        <div class="col-md-4 p-5">
            <div class="p-3 joindre">
                <h2 class="form-title">Tentez de nous joindre</h2>
                <form class="footer-form">
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email Address" required>
                  </div>
                  <div class="mb-3">
                      <input type="email" class="form-control" placeholder="Email Address" required>
                    </div>
                  <div class="mb-3">
                    <textarea class="form-control" rows="3" placeholder="Laissez votre message" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-send offset-md-6 col-6">Envoyer</button>
                </form>
            </div>
        </div>

        <!-- Section 3: Informations de contact -->
        <div class="col-md-4 contact-info p-5">
            <div class="mb-5 pb-2">
                <h3 class="contact-title"><img src="/assets/images/localisation.png" alt="" class="mr-5">  Adresse</h3>
                <p class="contact-text ms-4">Bénin, Natitingou</p>
            </div>
            <div class="col-md-6 mb-5 pb-2">
                <h3 class="contact-title"> <img src="/assets/images/tel.png" alt="" class="mr-5">  Téléphone</h3>
                <p class="contact-text ms-4">+229 94 88 27 11</p>
            </div>
            <div class="col-md-12">
                <h3 class="contact-title"><img src="/assets/images/mdi_email.png" alt="" class="mr-5">  Email</h3>
                <p class="contact-text ms-4">contact&#64;agroderam.com</p>
            </div>
        </div>
      </div>
  
      <!-- Section 4: Copyright -->
      <div class="row p-3">
        <div class="col-12 text-center">
          <p class="copyright-text">2025. Agrodreamsolution. Tous droits réservés</p>
        </div>
      </div>
    </div>
  </footer>