<div>

    <section class="service-accueil">
        <div class="service-accueil-background" #background></div> 
        <div class="service-accueil-content">
            <h1>Nos services</h1>
        </div>
    </section>
 
    <div class="domaines-intervention">
        <div class="container py-5">
          <header class="mb-4">
            <h1 class="domaines_h1">Nos services</h1>
          </header>
           <app-domaines></app-domaines>
        </div>
    </div>


    <div class="container">
        <div class="section-header">
            <div class="vertical-bar"></div>
            <div class="header-content">
                <h1 class="header-title">Techniques agricoles promues</h1>
                <p class="header-description">
                    Les techniques agricoles promues favorisent la rotation des cultures, l'agriculture de conservation et l'utilisation d'engrais
                    organiques pour une production durable. Les techniques agricoles promues favorisent la rotation des cultures, l'agriculture de
                    conservation et l'utilisation d'engrais organiques pour une production durable.
                </p>
            </div>
        </div>

        <div class="card-grid">
            <!-- Card 1 -->
            <div class="card">
                <img src="/assets/images/technique (2).png" alt="Agriculture de conservation" class="card-image">
                <div class="card-content">
                    <p class="card-text">Agriculture de conservation pour préserver la structure du sol et réduire l'érosion.</p>
                    <button class="info-button">+ D'INFOS</button>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/assets/images/technique (1).png" alt="Agriculture de conservation" class="card-image">
                <div class="card-content">
                    <p class="card-text">Agriculture de conservation pour préserver la structure du sol et réduire l'érosion.</p>
                    <button class="info-button">+ D'INFOS</button>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/assets/images/technique (3).png" alt="Agriculture de conservation" class="card-image">
                <div class="card-content">
                    <p class="card-text">Agriculture de conservation pour préserver la structure du sol et réduire l'érosion.</p>
                    <button class="info-button">+ D'INFOS</button>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/assets/images/technique (4).png" alt="Agriculture de conservation" class="card-image">
                <div class="card-content">
                    <p class="card-text">Agriculture de conservation pour préserver la structure du sol et réduire l'érosion.</p>
                    <button class="info-button">+ D'INFOS</button>
                </div>
            </div>
        </div>

        <div class="content-wrapper my-5">
            <div class="left-column">
                <div class="vertical-bar"></div>
                <div class="text-content">
                    <h2 class="main-title">Cultures spécifiques soutenues et adaptées aux enjeux agricoles</h2>
                    <p class="description">
                        Les techniques agricoles promues favorisent la rotation des
                        cultures, l'agriculture de conservation et l'utilisation d'engrais
                        organiques pour une production durable. Les techniques
                        agricoles promues favorisent la rotation des cultures, l'agricul-
                        ture de conservation et l'utilisation d'engrais organiques pour
                        une production durable.
                    </p>
                    <button class="more-button">
                        En savoir plus
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9H19V7H0V9Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="right-column">
                <div class="card">
                    <img src="/assets/images/culture.png" alt="Agriculteur avec récolte" class="card-image">
                    <div class="card-content">
                        <p class="culture-list">
                            maïs – riz – sorgho – mil – blé manioc – igna-
                            me – patate douce – haricot – pois – soja –
                            arachide – sésame – tomate -piment – carot
                            te – chou –gombo – aubergine – banane-
                            pastèque – ananas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
   