<div>
    <!-- Section 1: Landpage -->
    <div class="landpage">
      <div class="container-fluid">
        <header class="mt-5 pt-5">
          <h1>ENSEMBLE SENSIBILISONS AUX<br>PRATIQUES AGRICOLES DURABLES</h1>
        </header>
  
        <div class="separator"></div>
  
        <section class="mb-4">
          <h2>AgroDream Solution TCM</h2>
          <p>Avançons vers une agriculture responsable pour garantir un avenir alimentaire sûr</p>
        </section>
  
        <div class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
  
    <!-- Section 2: Bienvenue -->
    <div class="bienvenue">
      <div class="container">
            <header class="mb-4">
            <h1 class="display-4 font-weight-bold bienvenu_h1">BIENVENUE SUR AGRODREAM SOLUTION TCM</h1>
            </header>
    
            <section class="mb-4">
            <p class="lead bienvenu_p">Accédez à des ressources, formations et services pour optimiser vos pratiques et valoriser vos productions !</p>
            </section>
    
            <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <img src="/assets/images/image.png" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="/assets/images/image (1).png" alt="Image 2" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="/assets/images/image (2).png" alt="Image 3" class="img-fluid">
            </div>
            </div>
      </div>
    </div>
</div>